.container {
    background-image: url('https://cdn.pixabay.com/photo/2021/05/27/14/56/field-6288341_1280.jpg');
  background-size: cover;
  background-position: center;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .h2 {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
  }
  
  .form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    color: black;
  }
  
  .inputGroup {
    margin-bottom: 15px;
  }
  
  .inputGroup label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .inputGroup input, 
  .inputGroup select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .button {
    background-color: #6b4226;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    width: 100%;
  }
  
  .button:hover {
    background-color: #8c5b3e;
  }